/* Общие настройки */

* {
	margin: 0;
	padding: 0;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

/* Плавная прокрутка */

html {
	scroll-behavior: smooth;
}

/* Шапка сайта */

.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 150px;
	background-color: #547c9f;
	padding: 15px 0;
}

.menu-logo {
	display: flex;
}
.menu-logo a {
	display: flex;
	align-items: center;
	column-gap: 10px;
	text-decoration: none;
	font-size: 24px;
	color: white;
}
.menu-logo p {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: normal;
}
.menu-logo img {
	width: 50px;
}

.menu-list {
	display: flex;
}
.menu-list ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 50px;
	list-style: none;
}
.menu-list a {
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.menu-list a:hover {
	text-decoration: underline;
	text-underline-offset: 7px;
}

.menu-authentication {
	display: flex;
}
.menu-authentication a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	display: flex;
	align-items: center;
	border: 15px solid #66a55f;
	background-color: #66a55f;
	border-radius: 40px;
	padding: 0 20px;
	box-shadow: 0px 5px 10px #66a55f48;
}
.menu-authentication a:hover {
	opacity: 0.9;
}

/* Первый блок сайта */

.container-main {
	background-image: linear-gradient(
			rgba(56, 75, 63, 0.5),
			rgba(56, 75, 63, 0.5)
		),
		url(/img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	height: 716px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container-main h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 0;
}
.container-main h4 {
	color: white;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}
.container-main a {
	filter: invert(1);
}
.container-main img {
	object-fit: fill;
	width: 60px;
	padding: 60px 0;
}

/* Второй блок сайта */

.container-quality {
	box-shadow: 0px 20px 35px #66a55f48;
}
.container-quality ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 50px;
	text-align: center;
	align-items: center;
	padding: 100px 0;
}
.container-quality li {
	width: 250px;
	height: 250px;
}
.container-quality img {
	width: 100px;
}
.container-quality h2 {
	font-size: 24px;
	margin: 20px 0;
	text-transform: uppercase;
}
.container-quality p {
	font-size: 18px;
	color: gray;
	text-transform: lowercase;
}

/* Третий блок сайта */

.container-about {
	padding: 100px 0 0 0;
}
.container-about h1 {
	color: black;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
}
.container-about p {
	font-size: 18px;
	color: gray;
	text-transform: lowercase;
	text-align: center;
}
.container-about-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 50px;
	text-align: center;
}
.container-about-list li {
	width: 250px;
	height: 200px;
	position: relative;
}
.container-about-list h2 {
	font-size: 24px;
	margin: 20px 0;
	text-transform: uppercase;
}
.numbers {
	display: flex;
	justify-content: center;
}
.numbers div {
	border: 10px solid #66a55f;
	border-radius: 50%;
	background-color: #66a55f;
	width: 25px;
	height: 25px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.container-about-list img {
	position: absolute;
	top: 22.2px;
	left: 165px;
}

/* Четвертый блок сайта */

.featured {
	padding: 100px 0;
	position: relative;
	overflow: hidden;
}
.featured div {
	display: flex;
	justify-content: center;
	gap: 50px;
}
.featured h1 {
	color: black;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.featured ul {
	list-style: none;
}
.featured_project_1 {
	width: 400px;
	height: 300px;
	border-radius: 20px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url(/img/77971051f403e93666bef84d45bb8679.jpg);
	background-position: center center;
	margin-bottom: 50px;
	position: relative;
	background-size: 100%;
}
.featured_project_2 {
	width: 400px;
	height: 300px;
	border-radius: 20px;
	background-image: url(/img/museumemotion.jpg);
	background-position: center right;
	background-size: 145%;
}
.featured_project_3 {
	width: 400px;
	height: 650px;
	border-radius: 20px;
	background-image: url(/img/a74855ed614fbf4bbd42a24597e32071.jpg);
	background-position: center center;
	background-size: 165%;
}
.featured_project_4 {
	width: 400px;
	height: 300px;
	border-radius: 20px;
	background-image: url(/img/h-18085.jpg);
	background-position: center center;
	margin-bottom: 50px;
	background-size: 100%;
}
.featured_project_5 {
	width: 400px;
	height: 300px;
	border-radius: 20px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url(/img/scale_1200.jpg);
	background-position: center center;
	background-size: 115%;
}

/* Подвал сайта */

footer {
	background-color: #161618;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.container-chart h1 {
	color: white;
	font-size: 40px;
	font-family: 'Schibsted Grotesk', sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
}
.container-chart p {
	color: white;
	font-size: 18px;
	margin: 20px 0;
}
.container-contacts {
	margin-bottom: 30px;
}
.container-contacts ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 50px;
}
.container-contacts h2 {
	color: white;
	margin-top: 15px;
}
.footer-logo {
	width: 75px;
}
.social-img {
	width: 25px;
	filter: invert(1);
	margin-top: 10px;
}

/* Модальное окно регистрации */

/* свойства модального окна по умолчанию */
.modal {
	position: fixed;
	/* фиксированное положение */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	/* цвет фона */
	z-index: 1050;
	opacity: 0;
	/* по умолчанию модальное окно прозрачно */
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	/* анимация перехода */
	pointer-events: none;
	/* элемент невидим для событий мыши */
}

/* при отображении модального окно */
.modal:target {
	opacity: 1;
	pointer-events: auto;
	overflow-y: auto;
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 500px;
		margin: 30px auto;
	}
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	outline: 0;
}

@media (min-width: 768px) {
	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
}

/* свойства для заголовка модального окна */
.modal-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 15px;
	border-bottom: 1px solid #eceeef;
}

.modal-title {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.5;
	font-size: 1.25rem;
	font-weight: 500;
}

/* свойства для кнопки "Закрыть" */
.close {
	float: right;
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: 0.5;
	text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 15px;
	overflow: auto;
}

/* Форма регистрации */

input[type='text'],
input[type='email'],
input[type='password'] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 16px;
}

input[type='submit'] {
	background-color: #4caf50;
	color: #fff;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

input[type='submit']:hover {
	background-color: #45a049;
}

/* Вторая страница с каталогом */

/* Поиск мест */
.menu-list-2 ul {
	list-style: none;
}
.menu-list-2 p {
	color: white;
	font-size: 22px;
}

.container-catalog {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.block-filter {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	align-content: center;
	width: 750px;
	height: 75px;
	background-color: #547c9f;
	border-radius: 100px;
	margin: 50px 0 75px 0;
}
.block-filter ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 40px;
}
select {
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	border: 0;
	box-shadow: none;
	outline: none;
	text-overflow: ellipsis;
	background-color: #547c9f;
	color: white;
	border-bottom: 1px solid white;
}
option {
	height: 50px;
	border: 0;
	box-shadow: none;
	outline: none;
}

/* Второй блок с каталогом */
.block-catalog {
	margin-bottom: 100px;
}
.block-catalog ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 50px;
}
.block-catalog li {
	border-radius: 50px;
	width: 1400px;
	box-shadow: 0 8px 26px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
}
.block-catalog h2 {
	font-size: 36px;
	margin-bottom: 20px;
}
.block-catalog p {
	text-align: justify;
	text-indent: 37.5px;
	font-size: 22px;
	margin-bottom: 10px;
}
.photo-img {
	width: 500px;
	border-radius: 50px;
}
.icon-img {
	position: absolute;
	bottom: 25px;
	right: 25px;
	width: 45px;
}
.catalog-text {
	margin: 50px;
}
